asgiref==3.7.2
chardet==5.2.0
crispy-bootstrap5==2023.10
Django==5.0
django-crispy-forms==2.1
gunicorn==21.2.0
mysqlclient==2.2.4
numpy==1.26.2
opencv-python==4.8.1.78
packaging==23.2
Pillow==10.1.0
pypng==0.20220715.0
python-barcode==0.15.1
python-decouple==3.8
python-dotenv==1.0.0
pytz==2023.3.post1
pyzbar==0.1.9
qrcode==7.4.2
reportlab==4.2.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
whitenoise==6.6.0