{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <h2 class="marine-text">Select the product to generate a barcode for.</h2>
  <form method="POST" class="horizontal-form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <!-- Table to display items -->
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Part Number</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.title }}</td>
          <td>{{ item.product_ID }}</td>
          <td>
            <!-- Button next to each item -->
            <button type="button" class="generateBarcode btn btn-secondary" data-id="{{ item.id }}">Generate Barcode</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
      var count = 1;
      var successMessage = document.createElement('div');
      successMessage.setAttribute('class', 'text-success mt-2');
      
      var errorMessage = document.createElement('div');
      errorMessage.setAttribute('class', 'text-danger mt-2');
        $(".generateBarcode").click(function () {
            console.log("This is working");
            var productId = $(this).data('id');

            $.ajax({
                url: "/dashboard/create-barcode",
                type: "POST",
                data: {
                  'product_ID': productId,
                  'generateBarcode': 'true', 
                  'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
              },
                success: function (data) {
                  successMessage.textContent = `Barcode generated and saved! (${count}x)`;
                  count = count + 1;
                  $('.btn-primary').after(successMessage);
                },
                error: function (xhr, status, error) {
                  console.error("Error:", error);
                  errorMessage.textContent = "Unknown error has occured, please try again";
                  $('.btn-primary').after(errorMessage);
                }
            });
        });
    });
</script>
{% endblock content %}
