{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-12 mt-5">
            <div class="form-container" style="margin-bottom: 10px;">
                <a href="{% url 'dashboard' %}" class="btn btn-primary">Go Back</a>
                <form method="POST" class="horizontal-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead> 
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Part Number</th>
                            <th scope="col">Vendor</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if items|length == 0 %}
                        <tr>
                            <th scope="row">-</th>
                            <td>-</td>
                            <td>-</td>
                            <td></td>
                        </tr>
                        {% endif %}
                        {% for item in items %}
                        <tr>
                            <th scope="row">{{ item.title }}</th>
                            <td>{{ item.product_ID }}</td>
                            <td>{{ item.vendor }}</td>
                            <td><a href="{% url 'add-barcode' item.id %}" class="btn btn-outline-secondary">Add Manufacturer Barcode</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
